{% include 'header.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h2>   votre commande est confirmé</h2>
            <p>   Merci pour votre commande!</p>
            <p>   Nous avons bien reçu votre commande et elle est en cours de traitement.</p>
            votre  commande en attendue de liserve</p>
            <p>   Nous vous enverrons un e-mail de confirmation une fois que votre commande aura été expédiée.</p>
            <p>   Votre commande a été traitée avec succès.</p>
            <p>   Détails de la commande:</p>
            <a href="{{ download_pdf_url }}">Télécharger votre billet d'achat (PDF)</a>
            <a href="{% url 'home' %}" class="btn btn-primary"> Retour à la page d'accueil</a>
           
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const backgroundColor = localStorage.getItem('backgroundColor') || '#ffffff';
        const textColor = localStorage.getItem('textColor') || '#000000';
        const fontFamily = localStorage.getItem('fontFamily') || 'sans-serif';
        const navbarBgColor = localStorage.getItem('navbarBgColor') || '#ffffff';
        const navbarLinkColor = localStorage.getItem('navbarLinkColor') || '#000000';

        // Appliquer les styles sur le body
        document.body.style.backgroundColor = backgroundColor;
        document.body.style.color = textColor;
        document.body.style.fontFamily = fontFamily;

        // Appliquer les styles sur le navbar
        const navbar = document.querySelector('header, nav, #header');
        const navLinks = document.querySelectorAll('nav a');

        if (navbar) {
            navbar.style.backgroundColor = navbarBgColor;
        }

        navLinks.forEach(link => {
            link.style.color = navbarLinkColor;
        });
    });
</script>


{% endblock %}