{% extends 'base.html' %}

{% block content %}
    <h1>Produits les plus vendus</h1>

    <p>Voici les produits qui ont été les plus vendus dans votre boutique :</p>

    <table>
        <thead>
            <tr>
                <th>Nom du produit</th>
                <th>Quantité vendue</th>
                <th>Prix</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            {% for produit in produits_vendus %}
                <tr>
                    <td>{{ produit.nom }}</td>
                    <td>{{ produit.total_vendu }}</td>
                    <td>{{ produit.prix }} DH</td>
                    <td>
                        {% if produit.photo %}
                            <img src="{{ produit.photo.url }}" alt="{{ produit.nom }}" style="max-width: 100px; height: auto;">
                        {% else %}
                            <span>Pas d'image</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
